* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
}

.image {
  width: 100px;
  height: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input {
  width: 20vw;
}

.button {
  width: 10vw;
}
